.fullpage {
    margin: 0 auto;
    max-width: 100%;
}

.font-large {
    font-size: 18px;
}

.font-larger {
    font-size: 16px;
}

.font-small {
    font-size: 12px;
}

.no-border {
    border: 0px;
}

.no-margin {
    margin: 0px;
}

.no-padding {
    padding: 0px;
}

.no-radius {
    border-radius: 0px;
}

.bg-transparent {
    background-color: transparent;
}

.bg-doubangreen {
    background-color: #10761A;
}

.clr-doubangreen {
    color: #10761A;
}

.bg-white {
    background-color: white;
}

.clr-white {
    color: white;
}

.clr-black {
    color: black;
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.text-inline {
    display: inline;
}

.btn-mark-inverse {
    background-color: #10761A;
    color: #EDEDED;
    border: 1px solid #666666;
    padding: 5px 15px;
    border-radius: 1px;
    -webkit-box-shadow: 0px 1px 3px #BBBBBB;
    -moz-box-shadow: 0px 1px 3px #BBBBBB;
    box-shadow: 0px 1px 3px #BBBBBB;
}

    .btn-mark-inverse:hover,
    .btn-mark-inverse:focus,
    .btn-mark-inverse:active,
    .btn-mark-inverse.active {
        background-color: #3B9047;
        color: #EDEDED;
        border: 1px solid #666666;
    }

.btn-mark {
    background-color: #FDFDFD;
    color: #333333;
    border: 1px solid #888888;
    padding: 5px 15px;
    border-radius: 1px;
    -webkit-box-shadow: 0px 1px 3px #BBBBBB;
    -moz-box-shadow: 0px 1px 3px #BBBBBB;
    box-shadow: 0px 1px 3px #BBBBBB;
}

    .btn-mark:hover,
    .btn-mark:focus,
    .btn-mark:active,
    .btn-mark.active {
        background-color: #EBEBEB;
        color: #333333;
        border: 1px solid #888888;
    }

.btn-mark-xs {
    background-color: #E2E2E2;
    color: #333333;
    border: 0px solid #888888;
    padding: 4px 8px;
    margin-top: 2px;
}

    .btn-mark-xs:hover,
    .btn-mark-xs:focus,
    .btn-mark-xs:active,
    .btn-mark-xs.active {
        background-color: #CDCDCD;
        color: #333333;
        border: 0px solid #888888;
    }

.btn-mark-xs-inverse {
    background-color: #10761A;
    color: #EDEDED;
    border: 0px solid #666666;
    padding: 4px 8px;
    margin-top: 2px;
}

    .btn-mark-xs-inverse:hover,
    .btn-mark-xs-inverse:focus,
    .btn-mark-xs-inverse:active,
    .btn-mark-xs-inverse.active {
        background-color: #3B9047;
        color: #EDEDED;
        border: 0px solid #666666;
    }

.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
    white-space: nowrap;
    display: block;
}

.link-no-line {
    padding: 0px;
    cursor: pointer;
    color: #10761A;
}

    .link-no-line:hover,
    .link-no-line:focus,
    .link-no-line:active {
        color: #3B9047;
        text-decoration: none;
    }


.link-text {
    padding: 0px;
    cursor: pointer;
}

    .link-text:hover,
    .link-text:focus,
    .link-text:active {
        color: #FDFDFD;
        text-decoration: none;
        background-color: #10761A;
        transition: background 0.3s ease-in-out, color 0.2s ease-in-out;
    }

.link-list-item {
    -webkit-transition: margin 0.2s ease;
    -o-transition: margin 0.2s ease;
    -moz-transition: margin 0.2s ease;
    transition: margin 0.2s ease;
}

    .link-list-item:hover {
        margin-left: 15px;
        text-decoration: none;
    }

.min-editor {
    min-height: 144px;
}

.center-horizon {
    margin-left: auto;
    margin-right: auto;
}

.center-vertical {
    margin-top: unset;
    margin-bottom: -50%;
}

@font-face {
    font-family: '方正清刻本悦宋简体';
    src: url('../fonts/方正清刻本悦宋简体.TTF') format('truetype');
}

@font-face {
    font-family: 'Weston Free';
    src: url('../fonts/Weston Free.otf') format('opentype');
}

.list-link {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

    .list-link li {
        margin-bottom: 5px;
        padding-bottom: 5px;
        border-bottom: 1px dashed #ddd;
        color: #444444;
    }

.link-glyph {
    padding: 10px 14px 9px 14px;
    font-size: 18px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.link-glyph-default {
    border: 1px solid rgba(255, 255, 255, 0.84);
    color: rgba(255, 255, 255, 0.84);
    background: rgba(255, 255, 255, 0.01);
}

    .link-glyph-default:hover,
    .link-glyph-default:focus,
    .link-glyph-default:active {
        color: rgba(0, 0, 0, 0.84);
        background: rgba(255, 255, 255, 0.99);
    }

.link-glyph-reverse {
    border: 1px solid rgba(16, 118, 26, 0.99);
    color: rgba(255, 255, 255, 0.84);
    background: rgba(16, 118, 26, 0.99);
}

    .link-glyph-reverse:hover,
    .link-glyph-reverse:focus,
    .link-glyph-reverse:active {
        color: rgba(255, 255, 255, 0.84);
        background: rgba(16, 118, 26, 0.01);
    }

.link-glyph-disabled {
    border: 1px solid rgba(255, 255, 255, 0.60);
    color: rgba(255, 255, 255, 0.60);
    background: rgba(255, 255, 255, 0.01);
}

    .link-glyph-disabled:hover {
        border: 1px solid rgba(255, 255, 255, 0.60);
        color: rgba(255, 255, 255, 0.60);
        background: rgba(255, 255, 255, 0.01);
    }

.panel-float {
    position: relative;
    -webkit-transition: box-shadow 0.2s ease, -webkit-transform 0.2s ease;
    transition: box-shadow 0.2s ease, -webkit-transform 0.2s ease;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
    transition: box-shadow 0.2s ease, transform 0.2s ease, -webkit-transform 0.2s ease;
}

    .panel-float:hover {
        z-index: 1;
        -webkit-box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
        box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
        -webkit-transform: scale(1.02);
        transform: scale(1.02);
    }

.link-avatar {
    width: 56px;
    height: 56px;
    border: 1px solid #EDEDED;
    border-radius: 28px;
    display: block;
    margin: 5px;
    -webkit-box-shadow: 0px 0px 10px #727272;
    -moz-box-shadow: 0px 0px 10px #727272;
    box-shadow: 0px 0px 10px #727272;
    -webkit-transition: -webkit-transform 0.5s ease-in;
    -moz-transition: -moz-transform 0.5s ease-in;
    -o-transition: -o-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
}

    .link-avatar:hover {
        -webkit-transform: rotateZ(360deg);
        -moz-transform: rotateZ(360deg);
        -o-transform: rotateZ(360deg);
        -ms-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }

.div-right {
    padding-left: 20px;
    padding-right: 0px;
}

@media(max-width:768px) {
    .div-right {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.album {
    box-shadow: 0px 5px 5px rgba(0,0,0,0.21);
    border-radius: 1px;
    background: #FFFFFF;
}

.album-avatar {
    width: 100%;
    height: 144px;
    overflow: hidden;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.21);
}

    .album-avatar img {
        width: 100%;
        min-height: 144px;
    }

.album-info {
    height: 90px;
    overflow: hidden;
    padding: 5px 10px;
}

    .album-info a {
        font-weight: bold;
    }

    .album-info small {
        color: #838383;
    }

.album-bottom {
    background-color: #f6f6f6;
    border-top: 1px solid #DCDCDC;
    padding: 7px 15px 7px 15px;
    color: #8B8B8C;
    position: relative;
}

    .album-bottom span {
        font-size: 10px;
    }

.album-user {
    position: absolute;
    right: 1px;
    top: 1px;
    border-left: 1px solid #ddd;
    width: 29px;
    line-height: 34px;
    height: 35px;
    text-align: center;
}

    .album-user a {
        color: #8B8B8C;
    }

        .album-user a:hover {
            color: #2D2D2D;
            text-decoration: none;
        }
